@model FinancesCore.App.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Delete " + Model.Title;
}

<h4 style="padding-top: 50px">@ViewData["Title"] </h4>

<h5>Are you sure about that?</h5>

<div class="row">
    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="btn btn-info" asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
