@model FinancesCore.App.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Category Details - " + Model.Title;
}

<h4 style="padding-top: 30px">@ViewData["Title"]</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>
<div>
    <a disable-by-claim-name="Category" disable-by-claim-value="Edit" class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
